In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('Salaries.csv')

C:\Users\Ankit\AppData\Local\Temp\ipykernel_19576\3456294925.py:1: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv('Salaries.csv')

In [3]:
data.head(10)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.00,8601.00,189082.74,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.90,134426.14,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.00,51322.50,NaN,307899.46,307899.46,2011,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.00,0.00,17115.73,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN

In [8]:
Salary_2011 =data[data['Year']==2011]['TotalPayBenefits'].sum()

In [9]:
Salary_2014

2594113030.72

In [10]:
Salary_2014 =data[data['Year']==2014]['TotalPayBenefits'].sum()

In [11]:
Salary_2014

3821865780.6

In [15]:
Total_Incre_2011_2014 =Salary_2014 -Salary_2011
Total_Incre_2011_2014

1227752749.88

In [16]:
Salaryy_data_2014=data[data['Year']==2014]
Salaryy_data_2014

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
110529,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,NaN,San Francisco,PT
110530,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,NaN,San Francisco,FT
110531,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,NaN,San Francisco,PT
110532,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,NaN,San Francisco,FT
110533,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,NaN,San Francisco,FT
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148643,148646,Carolyn A Wilson,Human Services Technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148644,148648,Joann Anderson,Communications Dispatcher 2,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148645,148649,Leon Walker,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148646,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148647,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

In [17]:
mean_salary_by_jon_2014 = Salaryy_data_2014.groupby('JobTitle')['TotalPayBenefits']
mean_salary_by_jon_2014

In [19]:
highest_mean_sal_job_2014 = mean_salary_by_jon_2014.idxmax()
highest_mean_sal_job_2014

JobTitle
ACPO,JuvP, Juv Prob (SFERS)       135281
ASR Senior Office Specialist      117356
ASR-Office Assistant              134554
Account Clerk                     134119
Accountant I                      129819
                                   ...
Wire Rope Cable Maint Sprv        111837
Worker's Comp Supervisor 1        119713
Worker's Compensation Adjuster    119188
X-Ray Laboratory Aide             122670
Youth Comm Advisor                138456
Name: TotalPayBenefits, Length: 996, dtype: int64

In [20]:
highest_mean_salary = mean_salary_by_jon_2014.max()
highest_mean_salary

JobTitle
ACPO,JuvP, Juv Prob (SFERS)        80266.37
ASR Senior Office Specialist      161738.89
ASR-Office Assistant               83097.49
Account Clerk                      84755.64
Accountant I                      100245.90
                                    ...
Wire Rope Cable Maint Sprv        228338.09
Worker's Comp Supervisor 1        145106.26
Worker's Compensation Adjuster    148584.41
X-Ray Laboratory Aide             129044.16
Youth Comm Advisor                 52011.19
Name: TotalPayBenefits, Length: 996, dtype: float64

In [21]:
overtimepay_2014=Salaryy_data_2014['OvertimePay'].sum()

In [22]:
overtimepay_2014

205918599.26999998

In [23]:
Job_cost_2014 = Salaryy_data_2014.groupby('JobTitle')['TotalPayBenefits'].sum()
top_5_jobs_2014 = Job_cost_2014.sort_values(ascending=False).head(5)
top_5_jobs_2014

JobTitle
Transit Operator    2.149764e+08
Registered Nurse    1.872165e+08
Firefighter         1.448270e+08
Police Officer 3    1.334155e+08
Deputy Sheriff      9.223994e+07
Name: TotalPayBenefits, dtype: float64

In [25]:
total_salary_by_employee = data.groupby('EmployeeName')['TotalPayBenefits'].sum()
top_earning_employee = total_salary_by_employee.idxmax()
highest_total_salary = total_salary_by_employee.max()

In [26]:
top_earning_employee

'Kevin Lee'

In [27]:
highest_total_salary

1778487.17