In [6]:
import pymysql

In [5]:
#!pip install pymysql

Collecting pymysql
  Obtaining dependency information for pymysql from https://files.pythonhosted.org/packages/e5/30/20467e39523d0cfc2b6227902d3687a16364307260c75e6a1cb4422b0c62/PyMySQL-1.1.0-py3-none-any.whl.metadata
  Downloading PyMySQL-1.1.0-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/44.8 kB ? eta -:--:--
   ---------------------------------------- 44.8/44.8 kB 734.6 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0

In [44]:
db=pymysql.connect(host="127.0.0.1",user="testuser",password="test@123",database="testdb")

In [45]:
cursor=db.cursor()

In [15]:
cursor.execute("drop table if exists Employee")

0

In [26]:
sql="""create table Employee(
    First_Name char(20) Not Null,
    Last_Name Char(20),
    Age Int,
    Sex Char(1),
    Income Float)"""

print(sql)

create table Employee(
    First_Name char(20) Not Null,
    Last_Name Char(20),
    Age Int,
    Sex Char(1),
    Income Float)

In [18]:
cursor.execute(sql)

0

In [35]:
sql=""
sql="""Insert into Employee( First_Name,Last_Name,Age,Sex,Income) values ('Gaurav','Singhal',39,'M',100000)"""
print(sql)

Insert into Employee( First_Name,Last_Name,Age,Sex,Income) values ('Gaurav','Singhal',39,'M',100000)

In [36]:
try:
    cursor.execute(sql)
    db.commit()
except:
    db.rollback()

#db.close()

In [52]:
sql="select * from Employee where Age > %d" % (38)
print(sql)
#try:
cursor.execute(sql)
print("a")
results = cursor.fetchall()
print("b")
print(results)
for row in results:
    print("c")
    fname =row[0]
    lname =row[1]
    age = row[2]
    sex =row[3]
    income =row[4]
    print("fname = %s, lname = %s, age = %d, sex =%s, income = %d" % (fname,lname,age,sex,income))
#except:
#    print ("Error : unable to fetch data")

select * from Employee where Age > 38
a
b
(('Ankit', 'Singhal', 42, 'M', 200000.0), ('Gaurav', 'Singhal', 39, 'M', 100000.0))
c
fname = Ankit, lname = Singhal, age = 42, sex =M, income = 200000
c
fname = Gaurav, lname = Singhal, age = 39, sex =M, income = 100000

In [53]:
import socket

In [54]:
s=socket.socket()
host=socket.gethostname()
print(host)
port=12345
s.bind((host,port))

Ankit-Legion

In [ ]:
s.listen(5)
while True:
    c,addr=s.accept()
    print('Got connnection from ' , addr)
    output= ("Thank you for conencting")
    c.sendall(output.encode('utf-8'))
    c.close()

Got connnection from  ('192.168.1.13', 55214)