In [1]:
import pandas as pd
import numpy as np

In [5]:
data=pd.read_csv("SalaryGender.csv")

In [15]:
data

    Salary  Gender  Age  PhD
0    140.0       1   47    1
1     30.0       0   65    1
2     35.1       0   56    0
3     30.0       1   23    0
4     80.0       0   53    1
..     ...     ...  ...  ...
95    18.6       1   26    0
96   152.0       1   56    1
97     1.8       1   28    0
98    35.0       0   44    0
99     4.0       0   24    0

[100 rows x 4 columns]

In [16]:
narr1=np.array(data["Salary"])
narr2=np.array(data["Gender"])
narr3=np.array(data["Age"])
narr4=np.array(data["PhD"])

In [34]:
noofmenwihtphd = data[(data["PhD"]==True) & (data["Gender"]==True)]
noofwomenwihtphd = data[(data["PhD"]==True) & (data["Gender"]==False)]

In [42]:
df2=data[['Age','PhD']]

In [43]:
df2

    Age  PhD
0    47    1
1    65    1
2    56    0
3    23    0
4    53    1
..  ...  ...
95   26    0
96   56    1
97   28    0
98   44    0
99   24    0

[100 rows x 2 columns]

In [45]:
df2_onlyPhd=df2[df2['PhD']==True]

In [46]:
df2_onlyPhd

    Age  PhD
0    47    1
1    65    1
4    53    1
8    44    1
9    63    1
12   60    1
17   47    1
18   66    1
19   45    1
25   66    1
26   36    1
28   51    1
29   65    1
30   45    1
31   52    1
32   54    1
38   34    1
41   58    1
42   77    1
45   48    1
47   49    1
49   65    1
54   49    1
56   61    1
57   43    1
60   66    1
63   56    1
73   71    1
76   69    1
77   58    1
79   32    1
80   33    1
81   32    1
87   42    1
89   51    1
90   71    1
92   55    1
94   55    1
96   56    1

In [48]:
df2_onlyPhd.shape[0]

39

In [49]:
arr=[0, 5, 4, 0, 4, 4, 3, 0, 0, 5, 2, 1, 1, 9]

In [50]:
arr_np = np.array(arr)

In [51]:
unique_values, counts = np.unique(arr_np, return_counts=True)

In [52]:
counts

array([4, 2, 1, 1, 3, 2, 1], dtype=int64)

In [53]:
unique_values

array([0, 1, 2, 3, 4, 5, 9])

In [54]:
result = np.zeros(max(unique_values) + 1, dtype=int)

In [55]:
result[unique_values] = counts

In [56]:
print(result)

[4 2 1 1 3 2 0 0 0 1]

In [57]:
arr1=[[0, 1, 2], [ 3, 4, 5], [ 6, 7, 8],[ 9, 10, 11]]

In [61]:
arr1_np=np.array(arr1)

In [62]:
arr1_np

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [66]:
valgr5=arr1_np[arr1_np>5]

In [68]:
valgr5

array([ 6,  7,  8,  9, 10, 11])

In [72]:
arr=np.array([ np.nan,   1.,   2.,  np.nan,   3.,   4.,   5.])

In [73]:
arr

array([nan,  1.,  2., nan,  3.,  4.,  5.])

In [74]:
arr_without_nan = arr[~np.isnan(arr)]

In [75]:
arr_without_nan

array([1., 2., 3., 4., 5.])